<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--使用注解配置-->
    <context:component-scan base-package="com.pinyougou.shop.security"></context:component-scan>


    <!--自定义认证类 从数据库进行查询用户登陆信息-->
    <beans:bean class="com.pinyougou.shop.service.UserDatailsServiceImpl" id="userDatailsService"></beans:bean>

    <beans:bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="passwordEncoder"></beans:bean>


    <!--&lt;!&ndash;授权&ndash;&gt;-->
    <!--&lt;!&ndash;是否使用表达式配置为否 下面就不能使用表达式要不然会报错 反之亦然&ndash;&gt;-->
     <!--<http auto-config="true" use-expressions="false">-->
          <!--&lt;!&ndash;拦截所有请求 只有admin可以访问&ndash;&gt;-->
         <!--<intercept-url pattern="/**" access="ROLE_ADMIN"></intercept-url>-->
     <!--</http>-->

    <!--&lt;!&ndash;认证&ndash;&gt;-->
    <!--<secuity:authentication-manager>-->
        <!--<secuity:authentication-provider>-->
            <!--<security:user-service>-->
                <!--<security:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"></security:user>-->
            <!--</security:user-service>-->
        <!--</secuity:authentication-provider>-->
    <!--</secuity:authentication-manager>-->

</beans:beans>